* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
code {
  font-family: 'Courier New', Courier, monospace;
}

.cool-button {
  border: 1px solid deepskyblue;
  color: deepskyblue;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  transition: color, background-color;
  transition-duration: 0.5s;
}

.cool-button:hover {
  color: white;
  background-color: deepskyblue;
  cursor: pointer;
  transition: color, background-color;
  transition-duration: 0.5s;
}

.box {
  width: 120px;
  height: 120px;
  background-color: rgba(255,0,0,0.3);
  border: 1px solid red;
  text-align: center;
  line-height: 20px;
  padding-top: 50px;
  box-sizing: border-box;
}
.box-sm {
  width: 20px;
  height: 20px;
  padding: 0;
}

.box-relative {
  position: relative;
}

.box-relative:hover {
  top: 30px;
  /* left: 10px; */
}

.box-fixed {
  position: fixed;
  top: 0px;
  right: 0px;
}
.box-absolute {
  position: absolute;
}

.box1 {
  top: 5px;
  left: 5px;
  background-color: red;
}
.box2 {
  top: 10px;
  left: 10px;
  background-color: green;
}
.box3 {
  top: 15px;
  left: 15px;
  background-color: blue;
}
.box-sm:hover {
  z-index: 2;
}


.target {
  position: relative;
  width: 200px;
  height: 200px;
}
.target > div {
  position: absolute;
  border-radius: 50%;
}
.circle-1 {
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0%;
  left: 0%;
}
.circle-2 {
  height: 75%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  background-color: red;
}
.circle-3 {
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: black;
}
.circle-4 {
  height: 25%;
  width: 25%;
  top: 37.5%;
  left: 37.5%;
  background-color: red;
}


.container {
  background-color: purple;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  background-color: orange;
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}